---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro'
import SocialPill from '../components/SocialPill.astro'
import Projects from '../components/Projects.astro'
import LinkedinIcon from '../components/icons/Linkedin.astro'
import GithubIcon from '../components/icons/Github.astro'
import MailIcon from '../components/icons/Mail.astro';
import CodeIcon from '../components/icons/Code.astro'
---

<Layout title="Portfolio de Mauro - Desarrollador frontend" description='Contrata a Mauro para que haga tu aplicación web o movil.'>
	<main class="px-4">
		<SectionContainer class="pt-44 pb-20">

			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hey, soy Mauro
					<a href="https://www.linkedin.com/in/mauro-kolman/" target="_blank" rel="noopener" class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge></a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span class="text-yellow-200/90">Desarrollador web frontend.</span> 
				<span class="opacity-80">De La Pampa hacia el mundo</span>
			</h2>

			<nav class="flex gap-2 mt-8 flex-wrap">
					<SocialPill href="https://www.linkedin.com/in/mauro-kolman/">
						<LinkedinIcon class="size-4 md:size-6" />
						Linkedin
					</SocialPill>
					<SocialPill href="https://github.com/RedBoth">
						<GithubIcon class="size-4 md:size-6" />
						Github
					</SocialPill>
					<SocialPill href="mailto:mauro.kolman1255@gmail.com">
						<MailIcon class="size-4 md:size-6" />
						mauro.kolman1255@gmail.com
					</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="Proyectos">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7"/>
				Proyectos
			</h2>
			<Projects/>
		</SectionContainer>
	</main>
</Layout>