<footer class="bg-black/20 backdrop-blur-md border border-white/10 rounded-lg shadow m-4 w-11/12 xl:w-[1120px] mx-auto mb-10">
  <div class="w-full mx-auto max-w-screen-xl p-4 flex flex-col items-center gap-4 md:flex-row md:items-center md:justify-between">
    
    <!-- Copyright -->
    <span class="text-sm text-center text-brand-yellow/90">
      © 2023 
      <a href="/" class="font-medium text-brand-yellow hover:text-brand-yellow transition-colors duration-300">
        Mauro
      </a>
    </span>

    <!-- Links -->
    <ul class="flex flex-col gap-2 text-sm font-medium text-brand-text/90 sm:flex-row sm:gap-x-6">
      <li>
        <a href="#sobre-mi" class="relative group">
          Sobre mí
          <span class="absolute left-0 -bottom-1 h-[2px] w-0 bg-brand-yellow transition-all duration-300 group-hover:w-full"></span>
        </a>
      </li>
      <li>
        <a href="#contacto" class="relative group">
          Contacto
          <span class="absolute left-0 -bottom-1 h-[2px] w-0 bg-brand-yellow transition-all duration-300 group-hover:w-full"></span>
        </a>
      </li>
    </ul>
  </div>
</footer>